@charset "UTF-8";
/*共通部分-------------------------*/

body{  
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-width: 985px;
}
.wrapper{
  min-width: 980px;
  max-width: 980px;
  margin: 0 auto;
}
/*ヘッダー-------------------------*/
header{
  position: relative;
}
.hd-text{
  font-size: 0.8rem;
}
.hd-flex-box{
  margin-top: 2px;
  display: flex;
}
.logo{
  width:150px ;
  height: 80px;
  margin-left: 5px;
}
.user{
  width: 70px;
  height: 82px;
}
.he-text2{
  font-size: .9rem;
  width: 125px;
  margin-top: 10px;
}
.tel-flex-box{
  width: 380px;
  height:55px ;
  margin-top: 15px;
  display: flex;
  align-items: center;  
}
.user,
.he-text2,
.tel-flex-box{
  margin-left: 10px;
}
.tel-fb-text{
  font-size: .8rem;
  color: #fff ;
  width: 35px;
  height: 35px;
  background-color: #f10000;
  text-align: center;
  line-height: 1.2;
  padding-top:3px;
}
.tel-icon{
  width: 26px;
  height: 39px;
}
.tel-fb-text,
.tel-icon{
  margin-right: 6px;
}
.tel-number{
  font-size: 2.5rem;
  font-weight: 700;  
  color: #f10000;
}
.tel-fb-text2{
  font-size: .9rem;
  font-weight: 700;  
  color: #f10000;
  position: absolute;
  top: 85px;
  left: 400px;
}
.tel-fb-text3{
  font-size: .9rem;
  font-weight: 700;
  position: absolute;
  top: 85px;
  left: 568px;
}

.header-light{
  width: 220px;
  position: relative;
}
.header-light p{
  font-size: .8rem;
  font-weight: 700;
  color:#5bb200 ;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5px;
  margin-left: -10px;
}
button{
  cursor: pointer;
  outline: none !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  color: #fff !important;
  text-shadow: -1px -1px #409445 !important;
  height:60px ;
  width: 225px ;
  margin-left: -10px;
  background:linear-gradient(to bottom ,#5bb200,#1dbe00)  !important;
  border: 2px solid #fff !important;
  border-radius: 8px;
  box-shadow: 0px 1px 1px darkgray;
  position: absolute;
  top: 25px;
}
button:hover{
  box-shadow: none;
  top: 26.5px;
}
button span{
  font-size: .85rem;
  margin-top: 3px;
  display: block;
}
/*ナビ-------------------------*/
.nav-content{
  margin-top: 8px;
}
.nav-content ul{
  list-style: none;
  margin-left: 5px;
  display: flex; 
}
.nav-content li{
  cursor: pointer;
  font-size: .9rem;
  width: 138.5px;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ddd;
  position: relative;
}
.nav-content li::after{
  content: "▼";
  font-size: 5px;
  color: #fff;
  transform: scale(1.2,0.6);
  background-color: #ddd;
  width: 113px;
  position: absolute;
  top: 34px;
  left: 12.5px;
}
.nav-content li:hover::after{
  background-color: #222;
}
.nav-content li:last-child{
  border-right: none;
}
/*トップ-------------------------*/

.top-content{
  margin-top: 10px;
}
.top-content p{
  font-size: 0.815rem;
  margin-top: -5px;
  letter-spacing: 1px;
  text-align: center;
}
/*メインコンテンツ-------------------------*/
.main-content{
  display: flex;
  font-family: meiryo;
}

/*サイド*/
aside{
  width: 216px;
  margin-right: 20px;
}
aside a{
  font-size: 0.85rem;
  color: #03c;
  display: flex;
  align-items: center;
}
.as-flex-box{
  height: 48px;
  display: flex;
  position: relative;
}
.as-span1,
.as-span2{
  font-weight: bold;
  font-family: Arial;
}
.as-span1{
  transform: 
  scale(1,3) rotateZ(-30deg);
  position: absolute;
  top: 10px;
  left: 20px;
}
.as-span2{
  transform: 
  scale(1,3) rotateZ(30deg);
  position: absolute;
  top: 10px;
  right: 20px;
}
.as-flex-box p{
  width: 145px;
  height: 45px;
  text-align: center;
  margin-left: 35px;
  line-height: 1.2;
}
.as-flex-box p span{
  font-weight: bold;
}
.kaitorikyouka_png{
  margin-top: 15px;
  margin-bottom: -3px !important;
}
.as-kaitorikyouka{
  list-style: none;
  background-color:#fffed5;
  border:2px solid #f10000;
}
.as-kaitorikyouka li{
  padding: 7.5px;
  margin-left: 5px;
  border-bottom:1px dotted #ccc;
}
.as-kaitorikyouka li:last-child{
  border: none;
}
.as-kaitorikyouka img{
  margin-left: -5px;
  margin-right: 7px;
}
.sh_info_title{
  font-size: 0.9rem;
  color: #ff9600;
  margin-top:18px;
  padding-bottom: 1px;
  letter-spacing: 1px;
  border-bottom: 2px solid #ff9600;
}
.sh_info_title img{
  margin-right: 5px;
}
.as_shop_info{
  list-style: none;
}
.as_shop_info li{
  display: flex;
  padding: 7.5px 0;
  align-items: baseline;
}
.as_shop_info span{
  font-size: 0.725rem;
  color: #fff;
  width:48px ;
  margin-right: 8px;
  text-align: center;
  background-color: #ff9600;
}
.as_shop_info a:hover{
  text-decoration: none;
}
.kaitori_gaide_title{
  font-size: 1rem;
  color: #fff;
  margin-top: 20px;
  padding:4px 7px;
  background-color: #333;
  letter-spacing: 1px;
}
.kaitori_gaide_title img{
  width: 20px;
  margin-right: 8px;
}
.as_kaitorigaide{
  list-style: none;
  border: 1px solid #333;
}
.as_kaitorigaide li{
  width: 200px;
  margin-left: 5px;
  padding: 7.5px 10px;border-bottom:1px dotted #ccc;
}
.as_kaitorigaide a:hover{
  text-decoration: none;
}
.as_kaitorigaide img{
  margin-right: 8px;
}
.as_img_spead{
  margin-top: 20px;
}
.as_tel_info{
  padding: 5px;
  margin-top: 5px;
  border: 3px solid #b5b5b5;
  border-radius: 5px;
}
.as_tel_info h3{
  font-size: .85rem;
  text-align: center;
}
.as_tel_number{
  font-size: 1.25rem;
  font-weight: bold;
  font-family: initial;
  color: #f10000;
  margin-left: 20px;
  letter-spacing: -1px;
  position: relative;
}
.as_tel_number img{
  width: 15px;
  position: absolute;
  top: 2px;
  left: -20px;
}
.as_tel_text{
  font-size: 0.75rem;
  font-weight: bold;
  color: #f10000;
}
.as_tel_text span{
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  background-color: #f10000;
  margin-right: 2px;
  padding: 2px;
}
.as_tel_text2{
  font-size: 0.8rem;
  font-weight: bold;
  font-family: initial;
  margin-top: 5px;
}
.as_tel_text2 span{
  font-size: 0.75rem;
}
.recruit_img{
  margin-top: 10px;
}
.as_delivery{
  margin-top: 15px;
  border: 8px solid #ddd;
  text-align: center;
  position: relative;
}
.as_del_img{
  position: absolute;
  top: -18px;
  left: 5px;
}
.as_del_text{
  font-size: 0.85rem;
  font-weight: bold;
  margin-top: 20px;
}
.as_del_text2{
  font-size: 0.75rem;
}
.manga_img{
  margin-top: 5px;
  margin-bottom: 2px;
}
.houjin_banner{
  margin-top: 10px;
  text-align: center;
}
.houjin_banner p{
  font-size: 0.5rem;
  margin-top: -5px;
}
.no_kaitori{
  width: 220px;
  margin-top: 10px;
}
.no_kaitori_flex{
  display: flex;
  margin-top: 5px;
}
.no_kaitori_flex img{
  width: 60px;
  height: 60px;
}
.no_kaitori_flex small{
  font-size: 0.4rem;
}
/*メイン-------------------------*/
main{
  width: 740px;
}
.introduction img{
  width: 100%;
}
.introduction p{
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding-right: 5px;
}
.camerapoint{
  width: 100%;
}
/*査定リンクボタン*/
.satei_contact{
  display: flex;
  width: 727px;
  max-height: 148px;
  margin-left: 5px;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  border: 2px solid #eee;
  padding: 10px 10px 10px 35px;
}
.satei_contact img{
  height: 100%;
  margin-top: 5px;
}
.satei_contact img:hover{
  margin-top: 8px;
}
.satei_text_box{
  width: 320px !important;
  margin-top: 5px;
}
.satei_text{
  font-size: 1.4rem;
  font-weight: 600;
  color: #888;
  height: 25px;
  letter-spacing: 1.5px;
}
.satei_text_box span{
  display: block;
  height: 63px;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: arial,sans-serif;
  padding-left: 3px;
  letter-spacing: 1.25px;
  color: #fc8622;
}
.satei_text2{
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 2px;
  text-align: center;
  background-color: #666;
}
.tel_info{
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  color: #c33;
  margin-top: 10px !important;
  padding: 2px 15px;
  border: 1px solid #c33;
  border-radius: 15px;
  letter-spacing: 0.5px;
}
/*カメラ買取対象品目はこちら
*/
.buy_Target{
  margin-top: 20px;  
}
.sub_heading{
  font-size: .95rem;
  color: #fff;
  padding: 10px 20px;
  background-color: #666;
}
.grid_box{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  margin-top: 30px;
}
.grid_item{
  height: 115px;
  text-align: center;
}
.grid_item img{
  display: block;
  width: 75%;
  margin-left: 15px;
}
.grid_item a{
  font-size: .5rem;
  font-family: MS P ゴシック;
  color: #00f;
}
.buy_tg_link{
  text-align: right;
  position: relative;
}
.buy_tg_link span{
  font-size: 0.8rem;
  position: absolute;
  top: 4px;
  right: 120px;
}
.buy_tg_link a{
  font-size: 0.75rem;
  color: #00f;
}
/*カメラの買取実績をご紹介
*/
.buy_performance{
  margin-top: 30px;
  margin-bottom: 28px;
}
.pf_grid_box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  margin-top: 10px;
}
.pf_grid_item{
  cursor: pointer;
  background-color: #eee;
  padding: 8px;
}
.pf_grid_item div{
  min-height: 138px;
  background-color: #fff;
  text-align: center;
}
.pf_grid_item img{
  width: 160px;
  height: 130px;
}
.canon_img{
  width: 150px !important;
  height: 120px !important;
  margin-top: 10px;
}
.pf_product_name{
  font-size: 0.85rem;
  font-weight: bold;
  padding-right: 4px;
}
.pf_situation{
  font-size: 0.75rem;
  color: #aaa;
  margin-top: 5px ;
}
.pf_status{
  color: #777;
  padding: 4px 3px;  
  margin-right: 7px;
  border: 1px solid #ccc;
}
.price{
  display: block;
  font-size: 1.5rem;
  color: #dd0000;
  margin-top: 5px;
}
.pf_button{
  display: block;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  margin-top: 20px !important;
  padding: 6px 59px;
  border: 1px solid #8cc63f;
  border-radius: 5px;
  background-color:#8cc63f ;
}
.b_pf_link{
  font-size: .95rem;
  text-align: right;
}
.b_pf_link a{
  color: #00f;
}
.pf_under_text{
  font-size: .75rem;
  margin-top: 30px;
}


/*買取方法*/
.buy_method{
  margin-top:20px ;
}
.b_m_text{
  font-size: .8rem;
  margin-top: 35px;
}
.b_m_flex_box{
  display: flex;
  margin-top:30px ;
}
.b_m_item{
  width: 235px;
  margin-right: 8px;
  background-color: #eee;
  border: 1px solid black;
  box-shadow: 2px 2px 2px darkgray;
  text-align: center;
}
.b_m_item h2{
  width:130px ;
  font-size: 1.35rem;
  margin-top: 30px;
  margin-left: 65px;
  border-bottom: 2px solid black;
}
.b_m_item img{
  width: 150px;
  margin-top: 13px;
}
.b_m_item p{
  font-size: 0.75rem;
  margin-top: 15px;
  padding: 0 13px;  
}
.b_m_button{
  display: inline-block;
  font-size: 0.8rem;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 15px ;
  padding: 17px 17px;
  background-color: black;  
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;  
}
.b_m_button:hover{
  color: black;
  background-color: #fff;
  transition:background-color 0.3s;
}
/*お持ちのカメラの種類は？*/
.personal_effects{
  margin-top: 30px;
  margin-bottom: 10px;
}
.p_e_box{
  margin-top: 15px;
  padding: 0 5px;
}
.p_e_flex{
  display: flex;
}
.item_name{
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  width: 206px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #e6e6fa;
  border: 1px solid #927141;
}
.flexiblebox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.explanation{
  font-size: 0.75rem;
  width: 518px;
  height: max-content;
  margin-bottom: 5px;
  border: 1px solid #af9d85;
  
}


/*カメラの高価買取ができる理由と特徴*/
.buy_features{
  margin-top: 50px;
}
.b_f_text{
  font-size: .8rem;
  margin-top: 35px;
}
.b_f_grid{
  display: grid;
  grid-template-columns: repeat(2,332px);
  grid-template-rows: repeat(2,446px);
  gap:8px ;
  margin-top: 30px;
  padding: 0 30px;
}
.b_f_item{
  padding: 15px;
  border: 1px solid #000;
  text-align: center;
}
.b_f_item p{
  font-size: 0.75rem;
  text-align: left;
  margin-top: 18px;
}
.itemB{
  background-color: #eee;
}
.b_f_item img{
  width: 256px;
}
/*カメラの買取対応エリア*/
.buy_correspondence{
  margin-top: 30px;
  margin-bottom: 30px;
}
.b_c_flex{
  display: flex;
  margin-top: 30px;
}
.b_c_flex p{
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.b_c_flex span{
  color: red;
}
.b_c_flex img{
  width: 354px;
}
.b_c_flex2{
  display: flex;
  margin-top: 20px;
  text-align: center;
}
.b_c_flex2 p{
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  width: 67px;
  margin-right: 7px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.b_c_flex2 span{
  display: block;
  font-size: 0.65rem;
  font-weight: initial;
  margin-top: -4px;
}


/*カメラ高く売れるドットコムをご利用頂いたお客様の声・口コミ*/
.buy_WordOfMouth{
  margin-top: 20px;
}
.b_w_flex{
  display: flex;
  width: 740px;
  margin-top: 12px;
  padding: 15px;
  border: 1px solid #ddd;
}
.b_w_flex2{
  display: flex;
}
.b_w_text_box{
  width: 280px;
  text-align: center;
}
.b_w_text_box h3{
  font-size: 1.1rem;
}
.b_w_text_box p{
  font-size: 0.9rem;
}
.b_w_flex2 ul{
  width: 200px;
  list-style: none;
  text-align: center;
  margin-top: 5px;
  border-left: 1px dotted #ddd;
}
.b_w_flex2 li{
  font-size: 0.75rem;
  margin-bottom: 18px;
}
.b_w_flex2 li:last-child{
  margin-bottom:unset;
}
.star_bg_box{
  margin-top: 3px;
}
.star_boxA{
  margin-bottom: 12px;
}
.star_box img{
  margin-right: 2px;
}

/*お客様の声*/
.customer_voice{
  width: 745px;
  overflow: hidden;
}
.c_v_container{
  margin-top: 17px;
  padding: 10px;
  border: 1px solid #ddd;
}
.c_v_box{
  padding: 30px;
  border: 20px solid #f9f5ee;  
  position: relative;
}
.c_v_box p{
  font-size: 0.93rem;
}
.upper{
  position: absolute;
  top:-20px;
  left: -20px;
}
.c_v_flex1,
.c_v_flex2,
.c_v_flex3{
  display: flex;
}
.c_v_flex1{
  margin-bottom: 30px;
}
.c_v_flex1 img{
  width: 190px;
  height: 142px;
  margin-right: 22px;
}
.c_name{
  margin-bottom: 10px;
}
.c_name span{
  font-weight: bold;
}
.c_v_buyitem_box{
  display: flex;
  border: 1px solid #ddd;
}
.c_v_buyitem{
  width: 80px;
  text-align: center;
  padding-top: 35px;
  background-color:#f9f5ee ;
  border-right:1px solid #ddd ;
}
.c_v_buyitem_name_box{
  width: 330px;
  padding:10px 10px 10px 18px;
}
.c_v_buyitem_name{
  display: inline;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.c_v_buyitem_name,
.c_v_buyitem_productnumber{
  line-height: 35px;
}
.c_v_flex2,
.c_v_flex3{
  align-items: center;
}
.c_v_flex2 div,
.c_v_flex3 div{
  width: 130px;
  text-align: center;
}
.c_v_flex2 div span,
.c_v_flex3 div span{
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  margin-top: -3px;
}
.c_v_comment_box,
.c_v_flex3 p{
  width: 500px !important;
  padding: 0 10px;
}
.c_v_comment_box{  
  text-align: unset !important;
}
.c_v_flex2{
  margin-bottom: 10px;
}
.board_img{
  width: 15px;
  height: 25px;
}
.c_v_comment{
  display: inline;
  font-weight: bold;
  line-height: 1.75;
  border-bottom: 2px solid #f49c1c;
}
.c_v_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:6px;
  width: 600px;
  margin-top: 12px;
  margin-bottom:5px ;
}
.evaluation{
  display: flex;
  align-items: center;
  border:1px solid #ddd ;
}
.evaluation span{
  display: block;
  font-size: 0.8rem;  
  text-align: center;
  width:140px ;
  padding: 4px 0;
  background-color: #eee;
}
.ev_star_box{
  margin-left: 30px;
}
.ev_star_box img{
  margin-right: 2px;
}
.yes_img{
  margin-left: 30px;
}

.customer_voice .b_pf_link{
  margin-top: 20px;
}
/*カメラを高く売るためのポイント*/
.buy_point{
  margin-top: 63px;
}
.b_p_box{
  margin-top:35px ;
}
.b_p_box p{
  font-size: .815rem;
  padding-right:5px ;
}
.b_p_box ul{
  list-style: none;
  margin-top: 30px;  
}
.b_p_box li{
  font-size: .95rem;
  margin-bottom: 9px;
  padding-left: 20px;
  position: relative;
}
.b_p_box li::before{
  transform:rotate(45deg);
  content: "";
  display: block;
  position: absolute;
  top:6px;
  left: 9px;
  height: 11px;
  width: 4px;
  background-color: #d4d4d4;
  border-radius: 10px;
}
.b_p_box li::after{
  transform:rotate(-45deg);
  content: "";
  display: block;
  position: absolute;
  top:9px;
  left: 5px;
  height: 8px;
  width: 4px;
  background-color: #d4d4d4;
  border-radius: 10px;
}

.buy_point .b_pf_link{
  font-size: 0.8rem;
  margin-top: 35px;
}

/*よくある質問*/
.question{
  margin-top: 20px;
  margin-bottom: 15px;
}
.q_heading{
  font-size: 0.95rem;
  margin-top: 20px;
  padding: 9px 8px;
  background-color: #eee;
}
.q_heading::before,
.question p::before{
  content: "Q.";
  font-size: 1.1rem;
  padding-right: 5px;
}
.question p{
  font-size: 0.925rem;
  line-height: 1.25;
  margin-top: 18px;
  padding:0 10px;
}
.q_text{
  font-weight: bold;
}
.question p::before{
  content: "A.";
  font-weight: bold;
}
.question .b_pf_link{
  font-size: 0.85rem;
  margin-top: 20px;
}

/*フッター------------------------------*/
footer{
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
footer .wrapper{
  margin-top: 10px;
  background-color:#f5f5f5 ;
}
.copyright{
  font-size: 0.75rem;
  font-family: meiryo;
  color: #fff;
  text-align: center;
  padding: 5px 0 7px 0;
  background-color: #000;
  opacity: 0.8;
}
.footer_upper{
  display: flex;
  align-items: center;
}
.f_text{  
  font-size: 0.48rem;
  max-width: 235px;
  margin-left: 10px;
}
.footer_adress{
  letter-spacing: 0.8px;
}
.footer_upper ul{
  width: 520px;
  display: flex;
  list-style: none;
  margin-left: 153px;
}
.footer_upper ul img{
  margin-right: 1px;
}
.footer_upper li{
  font-size: 0.5rem;
  margin-right: 10px;
}
.footer_upper li:nth-of-type(4),
.footer_upper li:nth-of-type(6)
{
  letter-spacing: -1px;
}
.footer_upper li:last-child{
  margin-right: unset;
}
.footer_upper a
{
  color: #2e71b8;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer_bottom small{
  font-size: 0.5rem;
}
.f_btm_logo{
  width:115px ;
  height: 60px;
}